
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.title {
    color: black;
    font-size: 18px;
    margin: 10px 0;
}

.social a {
    margin: 0 10px;
    text-decoration: none;
    color: #3498db;
}

.social a:hover {
    text-decoration: underline;
}
 
